<h1>{{pageTitle}}</h1>
<!-- <pre>{{cvForm.value | json}}</pre> -->
<form novalidate [formGroup]="cvForm">
  <!-- INI: Work experience -->
  <div class="d-flex justify-content-start">
    <h2>Experiencia laboral:</h2>
    <button class="btn btn-outline-primary ml-auto" (click)="addWorkExperience()">Agregar nueva</button>
  </div>
  <hr />
  <div formArrayName="workExperiences" *ngFor="let work of workExperiences.controls; let i=index">
    <div class="card" [formGroupName]="i">
      <div>
        <div class="card-header">

          <div class="form-group ">
            <div class="d-flex ">
              <label for="position">
                Cargo:
              </label>
              <button class="btn btn-outline-danger ml-auto mb-2" (click)="deleteWorkExperience(i)">Quitar </button>
            </div>

            <input class="form-control" type="text" formControlName="position">
          </div>

        </div>

        <div class="card-body">

          <div class="form-group row mb-2">
            <div class="col-12 col-md-6">
              <label for="startDate">
                Fecha inicio:
              </label>
              <input class="form-control" type="date" formControlName="startDate">
            </div>
            <div class="col-12 col-md-6 ">
              <label for="endDate">
                Fecha fin:
              </label>
              <input class="form-control" type="date" formControlName="endDate">
            </div>
          </div>

          <div class="form-group row mb-2">
            <div class="col-12">
              <label for="employer">
                Empresa:
              </label>
              <input class="form-control" type="text" formControlName="employer">
            </div>
          </div>

          <div class="form-group row mb-2">
            <div class="col-12">
              <label for="duties">
                Funciones:
              </label>
              <textarea class="form-control" formControlName="duties"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END. Work experience-->

  <!-- INI: Studies-->
  <div class="d-flex justify-content-start">
    <h2>Estudios:</h2>
    <button class="btn btn-outline-primary ml-auto" (click)="addStudies()">Agregar nueva</button>
  </div>
  <hr />
  <div formArrayName="studies" *ngFor="let study of studies.controls; let i=index">
    <div class="card" [formGroupName]="i">
      <div>
        <div class="card-header">

          <div class="form-group ">
            <div class="d-flex ">
              <label for="title">
                Título:
              </label>
              <button class="btn btn-outline-danger ml-auto mb-2" (click)="deleteStudy(i)">Quitar </button>
            </div>

            <input class="form-control" type="text" formControlName="title">
          </div>

        </div>

        <div class="card-body">

          <div class="form-group row mb-2">
            <div class="col-12 col-md-6">
              <label for="startDate">
                Fecha inicio:
              </label>
              <input class="form-control" type="date" formControlName="startDate">
            </div>
            <div class="col-12 col-md-6 ">
              <label for="endDate">
                Fecha fin:
              </label>
              <input class="form-control" type="date" formControlName="endDate">
            </div>
          </div>

          <div class="form-group row mb-2">
            <div class="col-12">
              <label for="level">
                Nivel académico:
              </label>
              <input class="form-control" type="text" formControlName="level">
            </div>
          </div>

          <div class="form-group row mb-2">
            <div class="col-12">
              <label for="center">
                Centro:
              </label>
              <input class="form-control" type="text" formControlName="center">
            </div>
          </div>

          <div class="form-group row mb-2">
            <div class="col-12">
              <label for="description">
                Descripción:
              </label>
              <textarea class="form-control" formControlName="description"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END. Studies -->

  <!-- INI: Languages -->
  <div class="d-flex justify-content-start">
    <h2>Idiomas:</h2>
    <button class="btn btn-outline-primary ml-auto" (click)="addLanguages()">Agregar nueva</button>
  </div>
  <hr />
  <div formArrayName="studies" *ngFor="let study of studies.controls; let i=index">
    <div class="card" [formGroupName]="i">
      <div>
        <div class="card-header">

          <div class="form-group ">
            <div class="d-flex ">
              <label for="title">
                Título:
              </label>
              <button class="btn btn-outline-danger ml-auto mb-2" (click)="deleteStudy(i)">Quitar </button>
            </div>

            <input class="form-control" type="text" formControlName="title">
          </div>

        </div>

        <div class="card-body">


          <div class="form-group row mb-2">
            <div class="col-12">
              <label for="name">
                Nombre:
              </label>
              <input class="form-control" type="text" formControlName="name">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- END. Languages-->

  <!-- INI: OtherKnowledge -->
  <div class="d-flex justify-content-start">
    <h2>Otros:</h2>
    <button class="btn btn-outline-primary ml-auto" (click)="addOtherKnowledges()">Agregar nueva</button>
  </div>
  <hr />
  <div formArrayName="studies" *ngFor="let study of studies.controls; let i=index">
    <div class="card" [formGroupName]="i">
      <div>
        <div class="card-header">

          <div class="form-group ">
            <div class="d-flex ">
              <label for="title">
                Título:
              </label>
              <button class="btn btn-outline-danger ml-auto mb-2" (click)="deleteStudy(i)">Quitar </button>
            </div>

            <input class="form-control" type="text" formControlName="title">
          </div>

        </div>

        <div class="card-body">


          <div class="form-group row mb-2">
            <div class="col-12">
              <label for="name">
                Nombre:
              </label>
              <input class="form-control" type="text" formControlName="name">
            </div>
          </div>

          <div class="form-group row mb-2">
            <div class="col-12">
              <label for="description">
                Descripción:
              </label>
              <input class="form-control" type="text" formControlName="description">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- END. OtherKnowledge-->

  <div class="form-group row mb-2">
    <div class="offset-md-2 col-md-4">
      <button class="btn btn-primary mr-3" type="submit" (click)="saveCv()" >
        Guardar
      </button>
      <button class="btn btn-outline-secondary mr-3" type="button" title="Cancelar edición" routerLink="['']">
        Cancelar
      </button>
    </div>
  </div>

</form>


<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
</div>